<?xml version="1.0" encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pisa_softfoot">

  <!-- ARGS -->

  <!-- MODELS -->
  <xacro:include filename="$(find softfoot_thing_description)/model/softfoot_thing.urdf.xacro"/>

  <!-- WORLD -->
  <link name="world"/>

  <!-- FOOT -->
  <xacro:softfoot_thing name="pisa_softfoot" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:softfoot_thing>
</robot>
