<?xml version="1.0" ?>

<!-- THIS FILE LAUNCHES THE PISA SOFTFOOT -->

<launch>
    
    <!-- LAUNCH ARGUMENTS -->
    <arg name="gui" default="true"/>
    <arg name="model" default="--inorder $(find softfoot_thing_description)/robot/pisa_softfoot.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find softfoot_thing_description)/configs/pisa_softfoot.rviz"/>

    <!-- START LAUNCH -->

    <!-- Robot description -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

    <!-- Joint state and robot state publishers of the full robot description -->
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- Joints Estimator -->
    <group unless="$(arg gui)">
        <!-- TODO: joint_estimator_node -->
    </group>

    <!-- Hardware Interface and Controllers -->
    <!-- TODO: hw_interface and controllers for future actuated version -->

    <!-- RViz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>
