<?xml version="1.0"?>
<model>
    <name>SoftFootThing</name>
    
    <version>1.0</version>
    <sdf version='1.5'>softfoot_thing.sdf</sdf>
    
    <author>
        <name>Mathew Jose Pollayi</name>
        <email>mathewjose.pollayil@phd.unipi.it</email>
    </author>
    
    <description>
        Model for the SoftFoot fot EU Project Thing.
    </description>
</model>